net "rd1(0)" LOC = P15;
net "rd1(1)" LOC = P16;
net "rd1(2)" LOC = N15;
net "rd1(3)" LOC = N16;
net "rd1(4)" LOC = U17;
net "rd1(5)" LOC = U18;
net "rd1(6)" LOC = T17;
net "rd1(7)" LOC = T18;
net "clk" LOC = M18;
net "clk" PULLUP;
net "enable" LOC = F17;
net "enable" PULLUP;
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;