net "test(0)" LOC = P15;
net "test(1)" LOC = P16;
net "test(2)" LOC = N15;
net "test(3)" LOC = N16;
net "test(4)" LOC = U17;
net "test(5)" LOC = U18;
net "test(6)" LOC = T17;
net "test(7)" LOC = T18;
net "clk" LOC = M18;
net "btn1" LOC = L18;
net "btn2" LOC = M16;
net "btn3" LOC = L17;
net "clk" PULLUP;
net "btn1" PULLUP;
net "btn2" PULLUP;
net "btn3" PULLUP;
net "enable" LOC = F17;
net "enable" PULLUP;
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;