net "instruction(0)" LOC = P15;
net "instruction(1)" LOC = P16;
net "instruction(2)" LOC = N15;
net "instruction(3)" LOC = N16;
net "instruction(4)" LOC = U17;
net "instruction(5)" LOC = U18;
net "instruction(6)" LOC = T17;
net "instruction(7)" LOC = T18;
net "clk" LOC = M18;
net "clk" PULLUP;
net "enable" LOC = F17;
net "enable" PULLUP;
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;