//! **************************************************************************
// Written by: Map P.20131013 on Sat Jan 24 16:43:37 2026
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "M18" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "btn1" LOCATE = SITE "L18" LEVEL 1;
COMP "btn2" LOCATE = SITE "M16" LEVEL 1;
COMP "btn3" LOCATE = SITE "L17" LEVEL 1;
COMP "test<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "test<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "test<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "test<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "test<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "test<5>" LOCATE = SITE "U18" LEVEL 1;
COMP "test<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "test<7>" LOCATE = SITE "T18" LEVEL 1;
COMP "enable" LOCATE = SITE "F17" LEVEL 1;
SCHEMATIC END;

